* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  max-width: 1500px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
}

.nav-logo {
  width: 40px;
  height: 40px;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.code-with-love {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px;
  z-index: 9999;
}

.params-and-json .btn {
  height: 40px;
  width: 40px;
}

i.fa.fa-trash {
  pointer-events: none;
}

.code-with-love i {
  color: #f00;
}

.code-with-love a {
  background: #fd4900;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  animation: text infinite linear 5s alternate;
}

@keyframes text {
  0% {
    background: linear-gradient(
      120deg,
      #1c99fe 10.69%,
      #7644ff 20.19%,
      #fd4766 79.69%
    );
    background-position: 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
  100% {
    background: linear-gradient(
      120deg,
      #1c99fe 20.69%,
      #7644ff 80.19%,
      #fd4766 99.69%
    );
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
}

.alert-box {
  display: none;
}

.alert-box.active {
  display: block;
}

.result {
  max-height: calc(100vh - 30px);
  overflow: scroll;
}

.aspect-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.aspect-video img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.aspect-video.card {
  position: relative;
}

.download-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.size {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 12px;
}

@media (max-width: 700px) {
  .main-container {
    min-height: calc(100vh - 210px);
  }
  .code-with-love {
    right: 5px;
    bottom: 5px;
  }
}

@media (max-width: 500px) {
  .code-with-love {
    width: 100%;
    text-align: center;
    border-radius: 0;
    bottom: 0;
    right: 0;
  }
}
